body {
    margin:10;
    padding:10;
    left:10;
    right:10;
    background-color:orange;
    font-family: 'Open Sans', sans-serif;
}

.instructions {
    display: table;
}

.instructions dl {
    display: table-row;
}

.instructions dt, .instructions dd {
    display: table-cell;
    margin: 10;
    padding-left: 10px;
}
